<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CDN Links -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous" />

		<script src="main.js" defer></script>

		<title>Learning MVC pattern</title>
	</head>

	<body class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
			<div class="container-md d-flex justify-content-start align-items-center">
				<ul class="nav align-items-center">
					<li class="nav-item">
						<span class="nav-link text-success fs-5 fw-bolder" href="/">
							Inventory App
						</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/new">Add Product</a>
					</li>
					<% if (user) { %>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
					<% } else { %>
					<li class="nav-item">
						<a class="nav-link" href="/register">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<% }%>
				</ul>
			</div>
		</nav>

		<div class="container"><%- body %></div>
	</body>
</html>
