<h2 class="p-3 mb-3">Login</h2>

<% if (errorMessage) { %>
<div role="alert" class="alert alert-danger"><%= errorMessage %></div>
<% } %>

<form action="/login" method="post">
	<div class="mb-3">
		<label for="email" class="form-label">Email</label>
		<input
			type="email"
			name="email"
			class="form-control"
			id="email"
			placeholder="Enter you email..." />
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input
			type="password"
			name="password"
			class="form-control"
			id="password"
			placeholder="Enter you password..." />
	</div>

	<button type="submit" class="btn btn-primary">Login</button>
</form>
